extends layout 
block content 
    .container-fluid.shadow-lg.p-3.mb-3.rounded.col-xl-8.text-center
        h3 Add Packages here
        h1 #{title}
        if Packages 
        .container-fluid
          #mycard.row.justify-content-center.align-items-start.row-cols-1.row-cols-md-2.g-4.m-2.p-2.d-flex
            each package in Packages
              .card.m-4.d-flex.align-self-stretch(style='width: 25rem;')
                .d-flex.flex-fill.shadow
                  img.card-img-top.rounded(src=`${package.imgsrc}` alt=`${package.PkgName}` style='max-height: 20rem; object-fit: fill;')
                .card-body.text-center.d-flex.flex-column.mt-auto
                  h5.card-title.fs-2.text-center.justify-self-end #{package.PkgName}
                  p.card-text.text-center.justify-self-end #{package.PkgDesc}
                  p.card-text.text-center.justify-self-end #{package.PkgBasePrice}
                  a.btn.btn-primary.mt-auto(href="/packages/details/"+ package.PackageId) More Info  